.btn-grad {
  background-image: linear-gradient(to right, #0575e6 0%, #021b79 51%, #0575e6 100%);
  margin: 10px;
  padding: 15px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 50px;
  display: block;
  border: none;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;

  /* skunder */
}
.btn-grad-1 {
  background-image: linear-gradient(to right, #0575e6 0%, #021b79 51%, #0575e6 100%);
  margin: 5px;
  padding: 5px 5px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 20px;
  display: block;
  border: none;
  text-decoration: none;
}

.btn-grad-1:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.icon-footer {
  padding: 0.1rem;
}

.col-md-6 .icon-footer i {
  color: #5c5c5c;
  animation: 1s;
}

.col-md-6 .icon-footer i:hover {
  color: #021b79;
  font-size: 20px;
  transform: 180deg;
}
